<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.project1Test.TestComponents.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/aishwaryaguledgudda/Projects/SeleniumProject1">
        <classes>
        <class name="com.project1Test.ErrorValidationTest">
            <methods>
                <include name="loginErrorVal"/>
            </methods>
        </class>
        </classes>
    </test>
    <test name="SubmitOrderTest">
        <classes>
            <class name="com.project1Test.SubmitOrderTest">
            <methods>
                <include name="submitOrder"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>
